.page {
  max-width: 800px;
  margin: 0 auto;
}

@media (orientation: portrait) {
  html[onsflag-iphonex-portrait] .page__content {
      padding-top: 0 !important;
  }
  html[onsflag-iphonex-portrait] .toolbar {
      padding-top: 0 !important;
  }
  html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background, html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
      top: 44px !important;
  }
}
