<script setup>
import { onMounted } from 'vue'
import { useStore } from 'vuex'

// import HelloWorld from '@/components/HelloWorld.vue'

const store = useStore()

onMounted(() => {
  store.dispatch('init')
})
</script>

<template>
</template>
