<template>
  <v-ons-page>
    <div class="top">
      <div class="nav-bar">
        <div class="nav-left">
          <v-ons-button modifier="quiet" v-show="init" @click="shufflePlaylist()">
            <v-ons-icon size="25px" icon="md-shuffle"></v-ons-icon>
          </v-ons-button>
        </div>
        <div class="nav-center">
          <v-ons-button modifier="quiet" v-show="init" @click="seekPrev()">
            <v-ons-icon size="35px" icon="md-skip-previous"></v-ons-icon>
          </v-ons-button>
          <v-ons-button modifier="quiet" v-show="init" @click="back30()">
            <v-ons-icon size="35px" icon="md-replay-30"></v-ons-icon>
          </v-ons-button>
          <v-ons-button modifier="quiet" v-show="!(init && nowPlaying.playing)" @click="play()">
            <v-ons-icon size="60px" style="padding-left: 7px; padding-right: 7px;" icon="md-play"></v-ons-icon>
          </v-ons-button>
          <v-ons-button modifier="quiet" v-show="init && nowPlaying.playing" @click="stop()">
            <v-ons-icon size="60px" style="padding-left: 7px; padding-right: 7px;" icon="md-pause"></v-ons-icon>
          </v-ons-button>
          <v-ons-button modifier="quiet" v-show="init" @click="forward30()">
            <v-ons-icon size="35px" icon="md-forward-30"></v-ons-icon>
          </v-ons-button>
          <v-ons-button modifier="quiet" v-show="init" @click="seekNext()">
            <v-ons-icon size="35px" icon="md-skip-next"></v-ons-icon>
          </v-ons-button>
        </div>
        <div class="nav-right">
          <v-ons-button modifier="quiet" v-show="init" @click="emptyPlaylist()">
            <v-ons-icon size="25px" icon="md-delete"></v-ons-icon>
          </v-ons-button>
        </div>
      </div>
      <v-ons-progress-bar :value="progress"></v-ons-progress-bar>
    </div>
    <div class="background"></div>
    <div class="content">
      <v-ons-list>
        <div v-for="item in playlist.tracks" :key="'track_' + item.id">
          <v-ons-list-item modifier="longdivider">
            <div class="left">
              <v-ons-button modifier="quiet" @click="seekTrack(item.id)" v-show="init && !currentTrack(item.id)" icon="md-play-circle" class="list-item__icon"></v-ons-button>
              <v-ons-button modifier="quiet" @click="play()" v-show="init && currentTrack(item.id) && !currentTrackPlaying(item.id)" icon="md-play-circle-outline" class="list-item__icon"></v-ons-button>
              <v-ons-button modifier="quiet" @click="stop()" v-show="init && currentTrack(item.id) && currentTrackPlaying(item.id)" icon="md-pause-circle-outline" class="list-item__icon"></v-ons-button>
            </div>
            <div class="center">
              <span class="list-item__title">{{item.title}}</span>
              <span class="details">
                <template v-if="item.composer.id != '-'">
                  Composer: {{item.composer.name}}<br />
                </template>
                <template v-if="item.performer.id != '-'">
                  Performer: {{item.performer.name}} {{item.performanceYear ? '(' + item.performanceYear + ')': ''}}<br />
                </template>
                <template v-if="item.category.id != '-'">
                  Category: {{item.category.name}}<br />
                </template>
              </span>
            </div>
          </v-ons-list-item>
        </div>
      </v-ons-list>
    </div>
  </v-ons-page>
</template>

<script>
export default {
  data() {
    return {
      visibleIndex: 0
    }
  },
  methods: {
    shufflePlaylist() {
      this.$store.dispatch('shufflePlaylist')
    },
    emptyPlaylist() {
      this.$store.dispatch('emptyPlaylist')
    },
    seekPrev() {
      this.$store.dispatch('seekPrev')
    },
    seekNext() {
      this.$store.dispatch('seekNext')
    },
    back30() {
      this.$store.dispatch('back30')
    },
    forward30() {
      this.$store.dispatch('forward30')
    },
    seekTrack(id) {
      this.$store.dispatch('seekTrack', id)
    },
    play() {
      this.$store.dispatch('play')
    },
    stop() {
      this.$store.dispatch('stop')
    },
    currentTrack(id) {
      var np = this.$store.state.nowPlaying;
      return (np.track && np.track.id == id)
    },
    currentTrackPlaying(id) {
      var np = this.$store.state.nowPlaying;
      if (np.playing) {
        return (np.track && np.track.id == id)
      }
      return false
    }
  },
  computed: {
    init() {
      return this.$store.state.init
    },
    playlist() {
      return this.$store.state.playlist
    },
    nowPlaying() {
      return this.$store.state.nowPlaying
    },
    progress() {
      var np = this.$store.state.nowPlaying
      if (!(np.track && np.track.lengthMicros > 0)) {
        return 0
      }
      var res = (np.positionMicros / np.track.lengthMicros) * 100
      return (res < 0) ? 0 : ((res > 100) ? 100 : res)
    }
  }
};
</script>

<style scoped>
  .top {
    height: 85px;
  }
  .content {
    margin-top: 87px;
  }
  .nav-bar {
    padding: 20px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .nav-bar > div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .nav-center {
    flex-grow: 8;
  }
  .list-item {
    background-color: #222222;
    vertical-align: middle;
  }
  .list-item__title {
    font-size: 105%;
    font-weight: bold;
  }
  .list-item__icon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 200%;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .details {
    font-style: italic;
    font-size: 85%;
  }
</style>
