<template>
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">
        <v-ons-segment style="width: 240px">
          <button @click="visibleIndex=0">Composers</button>
          <button @click="visibleIndex=1">Performers</button>
          <button @click="visibleIndex=2">Categories</button>
        </v-ons-segment>
      </div>
    </v-ons-toolbar>

    <!-- composers -->
    <v-ons-list v-show="visibleIndex == 0">
      <div v-for="item in composers" :key="'composer_' + item.id">
        <v-ons-list-item tappable class="list-heading" modifier="longdivider" @click="toggleExpandedComposer(item.id)">
          {{item.name}}
          <div class="right">
            <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playComposer(item.id)"></v-ons-button>
            <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueueComposer(item.id)"></v-ons-button>
          </div>
        </v-ons-list-item>
        <div v-bind:class="composerSongsClass(item.id)">
          <template v-for="subitem in songsByComposer(item.id)">
            <v-ons-list-item :key="'composer_song_' + subitem.id" modifier="longdivider" class="list-sub">
              <div class="center">
                <span class="list-item__title">{{subitem.title}}</span>
                <span class="details">
                  <template v-if="subitem.performer.id != '-'">
                    Performer: {{subitem.performer.name}} {{subitem.performanceYear ? '(' + subitem.performanceYear + ')': ''}}<br />
                  </template>
                  <template v-if="subitem.category.id != '-'">
                    Category: {{subitem.category.name}}<br />
                  </template>
                </span>
              </div>
              <div class="right">
                <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playTrackByComposer(item.id,subitem.id)"></v-ons-button>
                <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueueTrackByComposer(item.id,subitem.id)"></v-ons-button>
              </div>
            </v-ons-list-item>
          </template>
        </div>
      </div>
    </v-ons-list>

    <!-- performers -->
    <v-ons-list v-show="visibleIndex == 1">
      <div v-for="item in performers" :key="'performer_' + item.id">
        <v-ons-list-item tappable class="list-heading" modifier="longdivider" @click="toggleExpandedPerformer(item.id)">
          {{item.name}}
          <div class="right">
            <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playPerformer(item.id)"></v-ons-button>
            <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueuePerformer(item.id)"></v-ons-button>
          </div>
        </v-ons-list-item>
        <div v-bind:class="performerSongsClass(item.id)">
          <template v-for="subitem in songsByPerformer(item.id)">
            <v-ons-list-item :key="'performer_song_' + subitem.id" modifier="longdivider" class="list-sub">
              <div class="center">
                <span class="list-item__title">{{subitem.title}}</span>
                <span class="details">
                  <template v-if="subitem.composer.id != '-'">
                    Composer: {{subitem.composer.name}}<br />
                  </template>
                  <template v-if="subitem.performanceYear">
                    Performed: {{subitem.performanceYear}}<br />
                  </template>
                  <template v-if="subitem.category.id != '-'">
                    Category: {{subitem.category.name}}<br />
                  </template>
                </span>
              </div>
              <div class="right">
                <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playTrackByPerformer(item.id,subitem.id)"></v-ons-button>
                <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueueTrackByPerformer(item.id,subitem.id)"></v-ons-button>
              </div>
            </v-ons-list-item>
          </template>
        </div>
      </div>
    </v-ons-list>

    <!-- categories -->
    <v-ons-list v-show="visibleIndex == 2">
      <div v-for="item in categories" :key="'category_' + item.id">
        <v-ons-list-item tappable class="list-heading" modifier="longdivider" @click="toggleExpandedCategory(item.id)">
          {{item.name}}
          <div class="right">
            <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playCategory(item.id)"></v-ons-button>
            <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueueCategory(item.id)"></v-ons-button>
          </div>
        </v-ons-list-item>
        <div v-bind:class="categorySongsClass(item.id)">
          <template v-for="subitem in songsByCategory(item.id)">
            <v-ons-list-item :key="'category_song_' + subitem.id" modifier="longdivider" class="list-sub">
              <div class="center">
                <span class="list-item__title">{{subitem.title}}</span>
                <span class="details">
                  <template v-if="subitem.composer.id != '-'">
                    Composer: {{subitem.composer.name}}<br />
                  </template>
                  <template v-if="subitem.performer.id != '-'">
                    Performer: {{subitem.performer.name}} {{subitem.performanceYear ? '(' + subitem.performanceYear + ')': ''}}<br />
                  </template>
                </span>
              </div>
              <div class="right">
                <v-ons-button modifier="quiet" icon="md-play-circle" class="list-item__icon" @click.stop="playTrackByCategory(item.id,subitem.id)"></v-ons-button>
                <v-ons-button modifier="quiet" icon="md-plus-circle" class="list-item__icon" @click.stop="enqueueTrackByCategory(item.id,subitem.id)"></v-ons-button>
              </div>
            </v-ons-list-item>
          </template>
        </div>
      </div>
    </v-ons-list>

  </v-ons-page>
</template>

<script>
export default {
  data() {
    return {
      visibleIndex: 0
    }
  },
  methods: {
    songsByComposer(id) {
      return this.$store.state.composerSongs[id] || []
    },
    songsByPerformer(id) {
      return this.$store.state.performerSongs[id] || []
    },
    songsByCategory(id) {
      return this.$store.state.categorySongs[id] || []
    },
    toggleExpandedComposer(id) {
      this.$store.commit('toggleExpandedComposer', id)
      if (this.$store.state.expandedComposers[id]) {
        this.$store.dispatch('loadSongsByComposer', id)
      }
    },
    toggleExpandedPerformer(id) {
      this.$store.commit('toggleExpandedPerformer', id)
      if (this.$store.state.expandedPerformers[id]) {
        this.$store.dispatch('loadSongsByPerformer', id)
      }
    },
    toggleExpandedCategory(id) {
      this.$store.commit('toggleExpandedCategory', id)
      if (this.$store.state.expandedCategories[id]) {
        this.$store.dispatch('loadSongsByCategory', id)
      }
    },
    enqueueComposer(id) {
      this.$store.dispatch('enqueueComposer', id)
    },
    playComposer(id) {
      this.$store.dispatch('playComposer', id)
    },
    enqueueTrackByComposer(composerId, trackId) {
      this.$store.dispatch('enqueueTrackByComposer', { composerId: composerId, trackId: trackId })
    },
    playTrackByComposer(composerId, trackId) {
      this.$store.dispatch('playTrackByComposer', { composerId: composerId, trackId: trackId })
    },
    enqueuePerformer(id) {
      this.$store.dispatch('enqueuePerformer', id)
    },
    playPerformer(id) {
      this.$store.dispatch('playPerformer', id)
    },
    enqueueTrackByPerformer(performerId, trackId) {
      this.$store.dispatch('enqueueTrackByPerformer', { performerId: performerId, trackId: trackId })
    },
    playTrackByPerformer(performerId, trackId) {
      this.$store.dispatch('playTrackByPerformer', { performerId: performerId, trackId: trackId })
    },
    enqueueCategory(id) {
      this.$store.dispatch('enqueueCategory', id)
    },
    playCategory(id) {
      this.$store.dispatch('playCategory', id)
    },
    enqueueTrackByCategory(categoryId, trackId) {
      this.$store.dispatch('enqueueTrackByCategory', { categoryId: categoryId, trackId: trackId })
    },
    playTrackByCategory(categoryId, trackId) {
      this.$store.dispatch('playTrackByCategory', { categoryId: categoryId, trackId: trackId })
    },
    composerSongsClass(id) {
      return (this.$store.state.expandedComposers[id]) ? "visible" : "hidden"
    },
    performerSongsClass(id) {
      return (this.$store.state.expandedPerformers[id]) ? "visible" : "hidden"
    },
    categorySongsClass(id) {
      return (this.$store.state.expandedCategories[id]) ? "visible" : "hidden"
    }
  },
  computed: {
    composers() {
      return this.$store.state.composers
    },
    performers() {
      return this.$store.state.performers
    },
    categories() {
      return this.$store.state.categories
    }
  }
};
</script>

<style scoped>
  .toolbar {
    background-color: black;
    margin-bottom: 10px;
  }
  .list-heading {
    background-color: #222222;
  }
  .list-sub {
    font-size: 95%;
  }
  .list-item__icon {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 200%;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .details {
    font-style: italic;
    font-size: 85%;
  }
</style>
