<template>
  <v-ons-page>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 10px; color: #aaa; text-transform: uppercase; font-size: 90%;">Volume</div>
    <div>
      <v-ons-row>
        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
          <v-ons-icon icon="md-volume-down"></v-ons-icon>
        </v-ons-col>
        <v-ons-col>
        <v-ons-range v-model="volume" style="width: 100%;"></v-ons-range>
        </v-ons-col>
        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
          <v-ons-icon icon="md-volume-up"></v-ons-icon>
        </v-ons-col>
      </v-ons-row>
    </div>
  </v-ons-page>
</template>

<script>
export default {
  computed: {
    volume: {
      get() {
        return Math.trunc(this.$store.state.mixerVolume * 100)
      },
      set(value) {
        this.$store.dispatch('saveMixerVolume', value / 100)
      }
    }
  }
}
</script>
