<template>
  <v-ons-page>
    <v-ons-tabbar position="bottom" :index.sync="tabbarIndex" :tabs="tabs">
    </v-ons-tabbar>
  </v-ons-page>
</template>

<script>
import SongLibrary from './pages/SongLibrary';
import NowPlaying from './pages/NowPlaying';
import VolumeMixer from './pages/VolumeMixer';

export default {
  template: '#main',
  data() {
    return {
      tabs: [
        {
          icon: 'ion-ios-eye',
          label: 'Library',
          page: SongLibrary,
          key: "SongLibrary"
        },
        {
          icon: 'ion-ios-musical-notes',
          label: 'Now Playing',
          page: NowPlaying,
          key: "NowPlaying"
        },
        {
          icon: 'ion-ios-volume-high',
          label: 'Mixer',
          page: VolumeMixer,
          key: "VolumeMixer"
        }
      ]
    }
  },
  computed: {
    tabbarIndex: {
      get() {
        return this.$store.state.activeTab;
      },
      set(value) {
        this.$store.commit('updateActiveTab', value)
      }
    }
  }
};
</script>
