<!DOCTYPE html>
<html style="background-color: black">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Piano Player">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>img/apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>img/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>img/apple-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>img/apple-touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>img/apple-touch-icon.png">

    <!-- iPhone -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px)">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">

    <!-- iPhone 5 -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-640x1136.png"
          media="(min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2)">

    <!-- iPad -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px)">

    <!-- iPad (Retina) -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 1536px) and (-webkit-device-pixel-ratio: 2)">

    <!-- iPhone 6,7,8 -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-750x1334.png"
          media="(device-width: 375px) and (-webkit-device-pixel-ratio: 2)">

    <!-- iPhone 6,7,8 Plus -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-1242x2208.png"
          media="(device-width: 414px) and (-webkit-device-pixel-ratio: 3)">

    <!-- iPhone X -->
    <link rel="apple-touch-startup-image"
          href="<%= BASE_URL %>img/apple-touch-startup-image-1125x2436.png"
          media="(device-width: 375px) and (-webkit-device-pixel-ratio: 3)">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/site.css">
    <title>Piano Player</title>
  </head>
  <body style="background-color: black">
    <noscript>
      <strong>We're sorry but Piano Player doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
